In [22]:
import pandas as pd

In [2]:
list1 = [1, 2, 6]

result = [i + 2 if i % 2 == 0 else i + 3 for i in list1]
result

[4, 4, 8]

In [3]:
result = [ i + 2 for i in list1 if i > 2]
result

[8]

In [6]:
result = [i + 2  for i in list1 if i % 2 != 0]
result

[3]

In [10]:
result = [ i * 5 if i > 1 else i * 2 for i in list1 if i >=  2]
result

[10, 30]

In [17]:
list(map(lambda i: i * 6 if i > 2 else i, list1))

[1, 2, 36]

In [21]:
list(map( lambda i: i * 5 if i % 2 == 0 else i * 3, filter(lambda i: i >= 1, list1)))

[3, 10, 30]

In [2]:
houses = ['First', 'Second', 'Third']
nums = [35, 45, 46]

In [7]:
[(h,n) for h in houses for n in nums if n>35]

[('First', 45),
 ('First', 46),
 ('Second', 45),
 ('Second', 46),
 ('Third', 45),
 ('Third', 46)]

In [12]:
[(n,h) for n in nums if n > 35 if n < 46 for h in houses]

[(45, 'First'), (45, 'Second'), (45, 'Third')]

In [13]:
[(n,h) for n in nums if n > 35 for h in houses if h != 'First']

[(45, 'Second'), (45, 'Third'), (46, 'Second'), (46, 'Third')]

In [15]:
[{n:h} for n in nums for h in houses]

[{35: 'First'},
 {35: 'Second'},
 {35: 'Third'},
 {45: 'First'},
 {45: 'Second'},
 {45: 'Third'},
 {46: 'First'},
 {46: 'Second'},
 {46: 'Third'}]

In [17]:
list(zip(nums, houses))

[(35, 'First'), (45, 'Second'), (46, 'Third')]

In [18]:
nums2 = [22, 44]

In [19]:
[(n, h) for n in nums2 for h in houses]

[(22, 'First'),
 (22, 'Second'),
 (22, 'Third'),
 (44, 'First'),
 (44, 'Second'),
 (44, 'Third')]

In [23]:

df = pd.read_csv('data/transport.csv')
df.head()

,distance,own_container,complect_send,container_train,transportation_type,days,price
0,2808,0,1,0,3,12,26497
1,4102,0,0,0,3,18,45948
2,1211,0,1,0,3,7,152484
3,2836,0,1,0,3,10,176701
4,2808,0,1,0,3,10,176525

In [24]:
df.dtypes

distance               int64
own_container          int64
complect_send          int64
container_train        int64
transportation_type    int64
days                   int64
price                  int64
dtype: object

In [31]:
df['days'].apply(lambda x: x * 2 if x // 2 == 0 else x)

0       12
1       18
2        7
3       10
4       10
        ..
1567    25
1568     8
1569    24
1570    31
1571    31
Name: days, Length: 1572, dtype: int64

In [42]:
df.apply(lambda x: x / 400 if x >  400 else x , axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().