In [1]:
import mlflow

import pandas as pd

import joblib

/home/pmu/zet/obs-h/Progects_od/transport/.conda/lib/python3.10/site-packages/pydantic/_internal/_fields.py:149: UserWarning: Field "model_server_url" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(
/home/pmu/zet/obs-h/Progects_od/transport/.conda/lib/python3.10/site-packages/pydantic/_internal/_config.py:321: UserWarning: Valid config keys have changed in V2:
* 'schema_extra' has been renamed to 'json_schema_extra'
  warnings.warn(message, UserWarning)

In [7]:

logged_model_1 = 'runs:/b266828d8856473a91b80f0abae47a70/xgbr_price_2000_estimate_max_lives'
# logged_model_2 = 'runs:/352cdd73f08a4089895766447d26909d/xgbr_price_2000_estimate_max_lives'
# Load model as a PyFuncModel.
loaded_model_1 = mlflow.pyfunc.load_model(logged_model_1)
# loaded_model_2 = mlflow.pyfunc.load_model(logged_model_2)

In [4]:
df_new = pd.read_csv('datasets/transport_new.csv')
df_new.head()

,distance,own_container,complect_send,container_train,transportation_type,days
0,2808,0,1,0,3,12
1,4102,0,0,0,3,18
2,1211,0,1,0,3,7
3,2836,0,1,0,3,10
4,2808,0,1,0,3,10

In [11]:
# Predict on a Pandas DataFrame.

loaded_model_1.predict(pd.DataFrame(df_new))

array([ 34771.324,  46101.71 , 151841.55 , 162505.7  , 122870.46 ,
       121151.16 , 112063.72 , 125143.586, 142062.86 , 125143.586,
       262966.   , 278859.9  , 257983.95 , 280874.84 , 251653.3  ,
       251653.3  , 163238.88 , 247818.5  , 158051.88 ], dtype=float32)

In [12]:
joblib.dump(loaded_model_1, "Model_transport_price.joblib")

['Model_transport_price.joblib']

In [13]:
model_tr = joblib.load('Model_transport_price.joblib')

In [14]:
model_tr.predict(df_new)

array([ 34771.324,  46101.71 , 151841.55 , 162505.7  , 122870.46 ,
       121151.16 , 112063.72 , 125143.586, 142062.86 , 125143.586,
       262966.   , 278859.9  , 257983.95 , 280874.84 , 251653.3  ,
       251653.3  , 163238.88 , 247818.5  , 158051.88 ], dtype=float32)